<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OptiBoot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OptiBoot.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="AlwaysTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSysTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunStartsWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </OptiBoot.Properties.Settings>
    </userSettings>
</configuration>